<!DOCTYPE html>
<html>
    <head>
        <title>Sortify</title>
    </head>
    <body>
        <h1>Sortify: Spotify Song Sorter</h1>
        <h2>Enter your Spotify Playlist below</h2>

        <form method="POST" autocomplete="off">
            <label for="playlist_dropdown">Paste the link to your Spotify playlist here</label>
            <input type="text" name="playlist" id="playlist_dropdown">

            <label for="sort_type_dropdown">Select a sorting method:</label>
            <select name="sort_type" id="sort_type_dropdown">
                <option value="popularity">Popularity</option>
                <option value="date">Date</option>
                <option value="artist">Artist</option>
                <option value="name">Song Name</option>
            </select>

            <input type="submit">
        </form>
    </body>
</html>