<!DOCTYPE html>
<html>
    <head>
        <title>Sortify</title>
        <style>
            table,
            th,
            td {
                border: 3px solid black;
                border-collapse: collapse;
                background-color: rgb(193, 211, 219);
                padding: 5px;
            }
            </style>
    </head>
    <body>
        <h1>Sortify: Spotify Song Sorter</h1>
        <h2>Your playlist, {{playlist_name}}, ranked by {{sort_type}}: </h2>
        <table style="max-width: fit-content;">
            <thead>
                <tr>
                    {% for heading in data[0] %}
                        <th>{{ heading }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in data[1:] %}
                    <tr>
                        {% for item in row %}
                            <td>{{ item }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>