<!DOCTYPE html>
<html>
    <head>
        <title>Top Song Finder</title>
    </head>
    <body>
        <h1>Top Song Finder</h1>
        <h2>Here are your songs ranked by popularity: </h2>
        <table>
            <thead>
                <tr>
                    {% for heading in data[0] %}
                        <th>{{ heading }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in data[1:] %}
                    <tr>
                        {% for item in row %}
                            <td>{{ item }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>